.tabs {
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.tabsList {
  position: relative;
  display: flex;
  align-items: stretch;
  border: 1px solid #000;
  border-bottom: none;
  > li {
    flex: 1 1 0;
    line-height: 40px;
    text-align: center;
    .vtab-btn {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      min-height: 40px;
      padding: 10px 20px;
      background-color: #fff;
      cursor: pointer;
      &.active {
        z-index: 1;
        color: #fff;
        background-color: blue;
        &::before {
          content: none;
        }
      }
    }
    + li {
      .vtab-btn {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -1px;
          height: 100%;
          border-left: 1px solid #000;
        }
      }
    }
  }
  &.inline {
    display: inline-flex;
  }
}

.tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #ddd;
}

.tabTransition {
  position: relative;
  margin-top: 20px;
  height: 200px;
  border: 5px solid #000;
  overflow: hidden;
}
.tabsContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #ddd;
  transition: transform 10s ease;
  overflow: hidden;
}
.tabsContentItem {
  // position: absolute;
  position: relative;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 초기 생성 위치 설정 vue3
.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}
.slide-leave-active {
  position: absolute;
}

.slide-rtl-enter-active,
.slide-rtl-leave-active {
  transition: all 0.5s ease;
}
.slide-rtl-leave-active {
  position: absolute;
}

.slide-ltr-enter-active,
.slide-ltr-leave-active {
  transition: all 0.5s ease;
}
.slide-ltr-leave-active {
  position: absolute;
}
// 초기 생성 위치 설정 vue3

.slide-enter-from {
  transform: translateX(100%);
}
.slide-leave-to {
  z-index: 1;
  background-color: blue;
  transform: translateX(-100%);
}

// 오른쪽에서 왼쪽으로 이동
.slide-rtl-enter-from {
  transform: translateX(100%);
}
.slide-rtl-leave-to {
  z-index: 1;
  background-color: blue;
  transform: translateX(-100%);
}
// 오른쪽에서 왼쪽으로 이동

// 왼쪽에서 오른쪽으로 이동
.slide-ltr-enter-from {
  transform: translateX(-100%);
}
.slide-ltr-leave-to {
  z-index: 1;
  background-color: blue;
  transform: translateX(100%);
}
// 왼쪽에서 오른쪽으로 이동
